.workExperiences {
  display: block;
  position: relative;
  box-sizing: border-box;
}

.workExperiences__list {
  position: relative;
  display: block;

  &::before {
    position: absolute;
    display: flex;
    flex-direction: column;
    content: "";
    height: 100%;
    border: solid 1px var(--secondary-color);
    margin-top: 8px;
  }
}
