.hero {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2em;
  box-sizing: border-box;
  margin: 0 1em;

  @media screen and (min-width: 430px) {
    flex-direction: row-reverse;
    align-items: center;
  }

  @media screen and (min-width: 640px) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
.header__pictureContainer {
  box-shadow: 0 2px 4px var(--shadow-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;

  background: radial-gradient(
    circle,
    var(--accent-color) 0%,
    var(--background-color) 80%,
    var(--background-color) 100%
  );

  width: 130px;
  height: 130px;
  @media screen and (min-width: 640px) {
    width: 180px;
    height: 180px;
  }
}
.header__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titleGroup {
  max-width: 32em;
}

.title {
  font-size: xx-large;
  @media screen and (min-width: 640px) {
    font-size: xxx-large;
  }
}
.subtitle {
  font-size: x-large;
  @media screen and (min-width: 640px) {
    font-size: xx-large;
  }
}

.callsToAction {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  margin-top: 2em;

  button,
  a,
  span {
    @media screen and (max-width: 640px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: baseline;
    }
  }
}
