.projects {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
}

.projects__list {
  display: flex;
  flex-direction: column;
  gap: 3em;

  align-items: flex-start;
  justify-content: center;

  @media screen and (min-width: 640px) {
    position: relative;

    overflow-x: scroll;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 3em;
    height: max-content;
  }

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--background-color);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 8px;
    border: 1px solid #828282;
  }

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: var(--secondary-color) var(--background-color);
  }
}
.successCase__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  gap: 2em;
}

.successCase__image {
  position: relative;
  border-radius: 1.5em;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  max-height: 350px;
  @media screen and (min-width: 640px) {
    height: 350px;
    max-width: 350px;
  }
}
.successCase__picture {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.successCase__content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  @media screen and (min-width: 640px) {
    max-width: 480px;
  }
}
.successCase__title {
  margin-top: 0;
}
.successCase__pills {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}
.successCase__description {
}
.successCase__links {
  margin-top: 2em;
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.successCase__link {
  font-size: 16px;
  padding: 4px 12px;
}
